
*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
     /* font-family: monterrat;หาฟ้อนสวยๆมาใส่ */
     font-family: "Roblox" ,sans-serif;
     background-color: white;
}
nav{
    background: #303d49;
    height: 80px;
    width: 100%;
    position:fixed;/*ให้ menu bar อยู่ด้านบนตลอด */
}
label.logo{
    color: white;
    font-size: 30px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
    letter-spacing: 4px;
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}
a.active,a:hover{
    background: #1b9bff;
    transform: .5s;
}
.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}

@media (max-width: 952px){
    label.logo{
        font-size: 30px;
        padding-left: 50px;
    }
    nav ul li a{
        font-size: 16px;
    }
    
}

@media (max-width: 820px){
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
    }
    nav ul li a{
        font-size: 20px;
    }
    a:hover,a.active{
        background: none;
        color: #0082e6;
    }
    #check:checked ~ ul{
        left: 0;
    }

}


/* --------------------------------------------------------------------------------------------------- */
/* .box1{
  border;
} */
.box1{
    background-color: #dfd8d8;
}
.info-con{
    display: flex;
}
.info,.info-img img{
    width: 100%;
    padding: 120px 50px 50px ;
}
.info h3{
    font-size: 32px ; /*2rem *16px = 32px */
}
.info p{
    margin: 16px 0;
}
.info .learn-btn{
    display: inline-block;
    background-color: #2c3e50;
    color: white;
    padding: 16px;
    border-radius: 5px;
    text-decoration: none;
}

/* --------------------------------------------------------------------------------------------------- */

.blog-con{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ; /*กริด (grid) โดยใช้หน่วยวัด fr หรือ "fractional unit". 
                                         จะทำให้คอลัมน์ทั้งสามมีความกว้างเท่าๆ กันในกริดที่เป็นพิเศษ.*/
    column-gap: 32px;
    padding: 0 50px;
}
.blog-title{
    margin: 32px 20px 0;
}
.blog-title h3{
    padding-left: 50px;
}
.blog-item img{
    width: 100%;

}
.blog-item h4{
    margin-top: 16px;
}
.blog-item p{
    margin: 16px 0;
}
.blog-item a{
    display: inline-block;
    color: #fff;
    background-color: orange;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 5px;
}

/* ----------------------------------------------------------------------------------------------------------------------------- */
.footer-top{
    margin-top: 2rem;
    padding: 3rem;
    background-color: #333;
    color: #fff;
    
}
.footer-top-con{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 2rem;
}

.footer-top-item-con{
    display: flex;
}

.footer-top-item-con .date{
    background-color: #f0f0f0;
    color: #333;
    padding: 0.5rem;
    border-radius: 5px;
    text-align: center;
    margin-right: 10px;
}
/* เพราะชื่อคลาสเหมือนกันจึงต้อง เรียกตัวที่สอง child(2) หรืออาจจะตั้งชื่อคลาสใหม่ก็ได้ */
.footer-top-item:nth-child(1) h4,
.footer-top-item:nth-child(2) h4,
.footer-top-item:nth-child(3) h4 {
    margin-bottom: 1rem;

}
.footer-bottom{
    background-color: #f0f0f0;
    padding: 1rem;
    text-align: center;
}

/* --------------------------------------------------------------------------------------------------------- */
@media (max-width: 720px){
    .info-con{
        display: block;
    }
    .info-img img{
        padding:  0 50px 50px ;
    }
    .info{
        width: 100%;
        /* padding:  ; */
    }
    .blog-con{
        display: block;
        
    }
    .footer-top-con{
        display: block;
    }



}