
@font-face {
    font-family: "MemphisRiver";
    src: url(fonts/MemphisRiver.ttf) format("truetype");
  }
  @font-face {
    font-family: "Roblox";
    src: url(fonts/Roblox-Font-Regular.ttf) format("truetype");
    font-weight: normal;
  }
  @font-face {
    font-family: "Roblox";
    src: url(fonts/Roblox-Font-Bold.ttf) format("truetype");
    font-weight: bold;
  }

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
    font-family: "Roblox" ,sans-serif;
    background: #fff;

}
nav{ 
    background: #303d49;
    height: 80px;
    width: 100%;
    position:fixed;
    z-index: 999;
    
}
label.logo{
    
    color: white;
    font-size: 30px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
    letter-spacing: 4px;
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}
a.active,a:hover{
    background: #1b9bff;
    transform: .5s;
}
.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
button {
    padding: 5px 8px;
    font-size: 14px;
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    transition: background-color 0.3s;
}
button:hover {
    background-color: #e0e0e0;
  }



.my-name{
    position: relative;
}
.my-name-con{
    position: absolute;
    top: 450px;
    margin-left: 120px;
    
}
.my-name-con h3{
    font-size: 30px;
    color: #fff;
   
}
.my-name-con h1{
    font-size: 100px;
    color: #fff;
    font-weight: bold;
}
.my-name-con p{
    font-family: monospace;
    font-size: 25px;
    color: #000;
    background-color: #19dad0;
    /* background-color: #00FF66; green */
    word-spacing: 5px; /* //ระยะห่างของคำ */
    margin-top: 15px;
    padding: 8px 8px 8px 8px ;
    width: 330px;
    border-radius: 1px;

}
.my-name-con p:hover{
    background-color: #d5ea69;
}

.profile-con{
    display: grid;
    grid-template-columns: 1.3fr 2.7fr;
}
.profile-img img{
    width: 100%;
    height: 750px;
    object-fit: cover;
    
}   /* 4 ตัว บน ขวา ล่าง ซ้าย 3 ตัว บ (ข-ซ) ล 2 ตัว (บ-ล)(ข-ซ)*/
.profile-into{
    background-color: #0B1625;
    height: 750px;
} 

/* box2---------------------------------------------------------------------- */

.box2-con{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
/* .box2-pic {
    background-color: #0082e6;
} */
.box2-pic img{
    width: 80%;
    margin: 80px 0 0 100px;
}
.box2-info{
    margin-top: 100px;
    margin-left: 1vh;
    width: 450px;
    margin: 10%;
}

.box2-info h1{
    margin-top: 10px;
    font-size: 50px;
    letter-spacing: 4px;
}
.box2-info p{
    margin-top: 30px;
    font-size: 20px;
    text-indent: 50px;
}
/* ขนาดหน้จอต่ำกว่า 1120 */


@media (max-width: 952px){
    label.logo{
        font-size: 30px;
        padding-left: 50px;
    }
    nav ul li a{
        font-size: 16px;
    }
    /* --------------------------------------------- */
    .box2-con{
        grid-template-columns:  1fr;
    }
    .box2-pic img{
        width: 46%;
    }
    .box2-info{
        margin-top: 0;
    }
    #uiDescription{
        margin: -5px;
    }
    

   
    
}

@media (max-width: 810px){
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 20%;
        height: 25vh;
        /* background: #2c3e50; */
        background: rgba(44, 62, 80, 0.8); /* สีพื้นหลังโปร่งแสง */
        top: 80px;
        left: -100%;/*-100% */
        margin-left: 80%;
        text-align: center;
        /* transition: .5s; */
        border-radius: 0 0 20px 20px;
    }
    nav ul li{
        display: block;
    }

    nav ul li a{
        font-size: 20px;
    }
    a:hover,a.active{
        background: none;
        color: #0082e6;
    }
    #check:checked ~ ul{
        left: 0;
    }

/* ------------------------------------------------------ */
    .my-name-con{
        top: 350px;
        margin-left: 100px;
        
    }
    .my-name-con h3{
        font-size: 22px;
    }
    .my-name-con h1{
        font-size: 70px;
    }
    .my-name-con p{
        font-size: 20px;
        width: 280px;
    }
   
       


    /* ------------------------------ */
    .profile-img img{
      
        height: 600px;
    }   /* 4 ตัว บน ขวา ล่าง ซ้าย 3 ตัว บ (ข-ซ) ล 2 ตัว (บ-ล)(ข-ซ)*/
    .profile-into{
        height: 600px;
    } 
}


